@tailwind base;
@tailwind components;
@tailwind utilities;


.drinks-wrapper-styles {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(270px, 1fr));
    gap: 2.5rem;
    width: 60%;
    max-width: 1200px;
    margin: 0 auto;
}

.single-cocktail-p {
    background-color: #6EE7B7;
    color: #047857;
    font-weight: 700;
    text-transform: capitalize;
    font-size: 1.2rem;
    padding: .3rem .8rem;
    border-radius: .75rem;
    margin-right: 1rem;
}
