@tailwind base;
@tailwind components;
@tailwind utilities;

.menu-animation {
    animation: animatedMenu 1s ease-in infinite alternate;
}

.modal-styles {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.portal-styles {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1;
    backdrop-filter: blur(2px);
}

@keyframes animatedMenu {
    0% {
        transform: scale(1);
    }
    100% {
        transform: scale(2);
    }
    
}